.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
   
} 
.price{
    color: green;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now{
    border-radius: 9px;
    padding: 9px 25px;
    border: none;
    background-image: linear-gradient(to left,#ff589b 0%, #e67575 100%);
    -webkit-border-radius: 9px;
}
.cat1{
    background-color: orange;
    padding: 10px 40px;
    border-radius:10px;
    background-image: linear-gradient(to right, #ffd400 0%, #fff192 100%);
}
.cat2{
    background-color: orchid;
    padding: 10px 40px;
    border-radius:10px;
    background-image: linear-gradient(to right, #da70d6 0%, #e59be2 100%);
}
.cat3{
    background-color: blue;
    padding: 10px 40px;
    border-radius:10px;    
}
.caregories h1{
color: white;
}
.card{
 border: none;
 box-shadow: 5px 5px 5px 5px lightgray;   
}
#Shoes .card-footer{
border-top: none;
background-color: white;
}
#subscribe{
    height: 300px;
}